.conteiner__createHabit{
    margin-top:2rem;
    margin-left:2rem;
    width:100vh;
    height:100vh;
}
.conteiner__createHabit-button-back{
    background-color:#fff;
    height:2.5rem;
    width:2.5rem;
    border-radius:50%;
}
.conteiner__createHabit-button-back > button{
    background-color:transparent;
    border:none;
}
.conteiner__createHabit-button-back > button > img{
    width:2rem;
    height:2rem;
    border-radius:50%;

}
.conteiner__createHabit-description{
    margin-top:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
}
.conteiner__createHabit-body{
    display:flex;
    flex-direction:row;
    height: 100%;
}
.conteiner__createHabit-content-input{
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
}
.conteiner__createHabit-input-conteiner{
    margin-top:2rem;
}
.conteiner__createHabit-input-conteiner > div {
    display:flex;
    flex-direction:row;
    margin-top:.5rem;
}
.conteiner__createHabit-input-conteiner > div > img{
    width:2rem;
    height:2rem;
    border-radius:50%;
    margin-right:.5rem;
}
.conteiner__createHabit-input-conteiner > div > p{
    font-size:1.3rem;
}
.conteiner__createHabit-input-conteiner > div > input{
    background-color: #010101;
    height: 2rem;
    width: 80%;
    color: white;
    border: none;
    border-radius:.3rem;
}

.conteiner__createHabit-button-create{
    height:100%;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.conteiner__createHabit-button-create > button{
    height:3rem;
    width:50%;
    border:none;
    border-radius:.5rem;
    background-color: #d71da2;
    color: #fff;
    font-size:1.3rem;
}
.conteiner__createHabit-button-create > button:active{
    background-color: #e864bd;
}
