.conteiner__viewHabit{
    height:100vh;
    weight:100vh;
}
.conteiner__viewHabit-header{
    display:flex;
    justify-content:center;
    align-items:center;
}
.conteiner__viewHabit-body{
    height:2rem;
    margin-top:1rem;
    display:flex;
    position:relative;
    align-items:center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #f7b4e4;
}
.conteiner__viewHabit-body > div{
    
}
.conteiner__viewHabit-body > p{
    margin-right: 1rem;
    margin-left: 1rem;

}
.conteiner__viewHabit-body > div > button{
    margin-right: 10px;
    margin-left: 10px;
    border:none;
    background-color:transparent;
}
.conteiner__viewHabit-body > div > button > img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.5rem;;
}
.conteiner__viewHabit-ocult_span{
    height:18rem;
    width:20rem;
    background-color: #f7b4e4;
    position:absolute;
    align-items:center;
    border-radius:.7rem;
    display:flex;
    justify-content: center;
    margin-top:10;
}
.conteiner__viewHabit-ocult_span-buttons{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.conteiner__viewHabit-ocult_span-buttons{
    margin-top:5rem;
    margin-right:3.5rem;
    margin-left:3.5rem;
}
.conteiner__viewHabit-ocult_span-buttons > button{
    height: 3rem;
    width: 5rem;
    border-radius:.7rem;
    border:none;
}
